* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

/* Barra lateral de navegação */
.sidebar {
    width: 250px;
    background-color: #fef7ff;
    border-right: 1px solid #c4c2c29c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Seção do perfil */
.profile {
    text-align: center;
}

.profile-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-icon i {
    font-size: 150px;
}

.profile-name {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}



/* Seção do menu principal */
.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.menu-item i {
    transform: scale(1.2);
}

/* Hover para itens do menu que não selecionados*/
.menu-item:not(.ativo):hover {
    background-color: #ddd;
}

.menu-icon {
    margin-right: 10px;
}

/* Aba do menu selecionada no momento -> dá pra mudar depois com JS */
.ativo {
    background-color: #ffe600;
    font-weight: bold;
}



/* Seção do menu mais embaixo */
.bottom-menu {
    margin-bottom: 20px;
}



/* Conteúdo */
.dashboard {
    flex: 1;
}

.dashboard-header {
    background-color: #fef7ff;
    padding: 50px 20px 50px 40px;
    border-bottom: 1px solid #c4c2c29c;
}

.dashboard-header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

.dashboard-header p {
    margin-top: 8px;
    font-size: 20px;
    color: #555;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    /* height:fit-content; */
    gap: 20px;
    margin: 50px;
}

/* Cartões de informação */
.card {
    background-color: #f2f2f2;
    border-radius: 10px;
}

.large-card {
    height: 200px;
}

.bottom-cards {
    display: flex;
    gap: 20px
}

.small-card {
    flex: 1;
    height: 150px;
}