.help {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.help-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* --- --- --- Estilo das dúvidas --- --- --- */
.questions {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Esconde a parte que sai no border-radius */
}

/* --- --- --- Estilo da pergunta --- --- --- */
.item-question {
    background-color: #f9f9f9;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* --- --- --- Hover para a pergunta --- --- --- */
.item-question:hover {
    background-color: #eaeaea;
}

/* --- --- --- Estilo da resposta --- --- --- */
.item-answer {
    display: none; /* Esconde as respostas por padrão */
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

/* --- --- --- Mostrar resposta ao clicar na pergunta --- --- --- */
.question:active .item-answer {
    display: block; 
}
